/*mixin*/
@mixin cell_title {
  font-size: 18px;
  color: $primary-content;
  font-weight: 500;

  @media (max-width: 500px) {
    font-size: 16px;
  }
}

@mixin input_style {
  background: $primary-light-gray;
  border-radius: 8px;
  border: 1px solid #fff;
  height: 36px;
  padding: 4px 12px;
}

@mixin flex_set($justify: flex-start, $align: flex-start, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin empty_cell {
  font-size:16px;
  color:$primary-gray;
  text-align:center;
}
