/*import reset*/
@import url("reset.scss");

/*variables*/
$primary-light-gray: #f3f4f6;
$primary-content: #0a0a0a;
$primary-light-brown: #e5ddd5;
$primary-gray: #4a5565;
$footer-gray: #364153;

/*content common*/
.container {
  width: 90%;
  max-width: 1700px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/*content header*/
.header {
  padding: 16px 0;
  border-bottom: 1px solid $primary-light-gray;

  .header_container {
    padding: 0 24px;
    display: flex;
    justify-content: space-between;

    .logo {
      a {
        color: $primary-content;
        font-family: "Noto Serif", serif;
      }
    }

    .nav {
      ul {
        display: flex;
        gap: 32px;

        li {
          a {
            color: $primary-content;
          }
        }
      }
    }

    .login {
      display: flex;
      gap: 16px;

      a {
        color: $primary-content;
        font-weight: 600;
      }
    }
  }
}

/*content footer*/
.footer {
  padding: 64px 0;
  background: $primary-light-brown;

  .footer_upper {
    display: flex;
    width: 100%;
    margin-bottom: 48px;

    .footer_upper_inner {
      flex: 1;

      &.logo {
        .footer_logo {
          margin-bottom: 16px;

          a {
            font-size: 24px;
            color: $primary-content;
            font-weight: 600;
          }
        }

        .brand_text {
          color: $footer-gray;
          line-height: 1.5;
        }
      }

      .footer_title {
        color: $primary-content;
        font-weight: 600;
        margin-bottom: 16px;
      }

      ul {
        li {
          color: $primary-gray;
          line-height: 1.5;
        }
      }
    }
  }

  .footer_downer {
    padding-top: 30px;
    border-top: 1px solid #99a1af;
    text-align: center;

    p {
      color: $primary-gray;
    }
  }
}
