/*import reset*/
@use "variables" as *;
@use "mixins" as *;

@import url("reset.scss");

/*content common*/
.container {
  width: 90%;
  max-width: 1700px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/*content header*/
.header {
  padding: 16px 0;
  border-bottom: 1px solid $primary-light-gray;
  background: #fff;

  .hamburger {
    display: none;
    border: none;
    background: none;
    width: 30px;
    height: 20px;

    span {
      width: 100%;
      height: 2px;
      background: $primary-content;
      display: block;
      margin-bottom: 2px;
      transition: all 0.5s ease-in-out;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.nav_open {
      span {
        &:nth-child(1) {
          transform: rotate(45deg) translateX(3px);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translateX(2px);
        }
      }
    }
  }

  .header_container {
    padding: 0 24px;
    @include flex_set(space-between, center);

    .logo {
      a {
        color: $primary-content;
        font-family: "Noto Serif", serif;
      }
    }

    .nav {
      .main_menu {
        display: flex;
        gap: 32px;

        li {
          position: relative;

          &:hover {
            > a {
              color: #f54c37;
              font-weight: 600;
            }
          }

          a {
            color: $primary-content;
          }

          .sub_menu {
            background: #fff;
            position: absolute;
            width: 100%;
            min-width: 100px;
            left: 50%;
            top: calc(100% + 10px);
            transform: translateX(-50%);
            z-index: 10;

            li {
              a {
                display: block;
                padding: 8px 0;
                text-align: center;
              }
            }
          }
        }
      }
    }

    .login {
      display: flex;
      gap: 16px;
      align-items: center;

      a {
        color: $primary-content;
        font-weight: 600;
      }
    }
  }
}

/*content footer*/
.footer {
  padding: 64px 0;
  background: $primary-light-brown;

  .footer_upper {
    display: flex;
    width: 100%;
    margin-bottom: 48px;

    .footer_upper_inner {
      flex: 1;

      &.logo {
        .footer_logo {
          margin-bottom: 16px;

          a {
            font-size: 24px;
            color: $primary-content;
            font-weight: 600;
          }
        }

        .brand_text {
          color: $footer-gray;
          line-height: 1.5;
        }
      }

      .footer_title {
        color: $primary-content;
        font-weight: 600;
        margin-bottom: 16px;
      }

      ul {
        li {
          color: $primary-gray;
          line-height: 1.5;
        }
      }
    }
  }

  .footer_downer {
    padding-top: 30px;
    border-top: 1px solid #99a1af;
    text-align: center;

    p {
      color: $primary-gray;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    .header_container {
      align-items: center;

      .logo {
        a {
          color: $primary-content;
          font-family: "Noto Serif", serif;
        }
      }

      .hamburger {
        display: block;
      }

      .nav {
        display: none;
      }

      &.nav_open {
        .nav {
          display: block;
          position: fixed;
          top: 50px;
          left: 0;
          width: 100%;
          height: 100vh;
          background: #fff;
          padding: 16px;
          z-index: 10;

          .main_menu {
            flex-direction: column;

            li {
              > a {
                display: block;
              }
              &.active:has(> .sub_menu > li) {
                > a {
                  margin-bottom: 16px;
                }
              }
              .sub_menu {
                position: relative;
                background: #f9f9f9;
                padding-left: 20px;

                li {
                  a {
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .footer {
    padding: 48px 0;
    .footer_upper {
      display: block;
      margin-bottom: 32px;

      .footer_upper_inner {
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .footer_downer {
      padding-top: 18px;
    }
  }
}
