/*import reset*/
@import url("reset.scss");

/*variables*/
$primary-light-gray: #f3f4f6;
$primary-semilight-gray: #d1d5dc;
$primary-content: #0a0a0a;
$primary-light-brown: #e5ddd5;
$primary-gray: #4a5565;
$footer-gray: #364153;

/*swiper slide*/
.main_visual {
  .swiper {
    .swiper-wrapper {
      .swiper-slide {
        width: auto;
      }
    }
  }
}

.main_big_text {
  padding: 48px 0;
  text-align: right;

  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 72px;
    color: $primary-content;
    font-weight: 500;
    margin-bottom: 24px;
  }

  p {
    color: $primary-gray;
  }
}

.goods_list {
  padding: 0 0 48px 0;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    li {
      width: calc(20% - 24px);

      .goods_image {
        margin-bottom: 12px;
        img {
          width: 100%;
        }
      }

      .goods_content {
        h2 {
          color: $primary-content;
          font-weight: 600;
          line-height: 1.8;
        }

        p {
          color: $primary-gray;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .main_big_text {
    padding: 32px 0;
    h1 {
      font-size: 50px;
    }
  }

  .goods_list {
    ul {
      display: block;

      li {
        width: 100%;
        margin-bottom: 16px;
      }
    }
  }
}

@media (max-width: 500px) {
  .main_big_text {
    h1 {
      font-size: 36px;
    }
  }
}
