@use "variables" as *;
@use "mixins" as *;

/*product*/
.product {
  .product_upper_frame {
    padding-top: 32px;
    margin-bottom: 48px;
    @include flex_set(flex-start, flex-start, 32px);

    .product_thumbnail_slider {
      width: calc(50% - 32px);

      .productSwiper {
        .swiper-slide {
          aspect-ratio: 1/1;
          overflow: hidden;
          border-radius: 10px;
          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
          }
        }
      }

      .productSwiper2 {
        margin-top: 16px;
        .swiper-slide {
          aspect-ratio: 1/1;
          overflow: hidden;
          border-radius: 10px;

          &.swiper-slide-thumb-active {
            border: 2px solid $primary-content;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
          }
        }
      }
    }

    .product_shop_buy {
      width: calc(50% - 32px);

      .product_shop_buy_upper {
        .product_stars {
          @include flex_set(flex-start, flex-start, 8px);
          margin-bottom: 8px;

          .stars {
            display: flex;
            gap: 4px;
          }
        }

        .product_name_box {
          margin-bottom: 24px;

          h1 {
            color: $primary-content;
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 8px;
          }

          p {
            font-size: 16px;
            color: $primary-gray;
          }
        }

        .product_price {
          margin-bottom: 24px;
          padding: 17px 0;
          border-top: 1px solid $primary-semilight-gray;
          border-bottom: 1px solid $primary-semilight-gray;

          .sale_percent {
            @include flex_set(flex-start, center, 12px);

            .origin_price {
              color: $primary-gray;
              text-decoration-line: line-through;
            }

            .percent {
              color: $primary-red;
              font-weight: 700;
              font-size: 18px;
            }
          }

          .saled_price {
            margin-top: 4px;
            line-height: 1.8;
            font-size: 30px;
            color: $primary-content;
            font-weight: 700;
          }
        }

        .shipping {
          margin-bottom: 16px;

          .ship_title {
            color: $primary-content;
            margin-bottom: 8px;
            font-weight: 500;
          }

          .ship_price {
            color: $primary-gray;
          }
        }

        .color_picker {
          margin-bottom: 16px;
          .color_pick_title {
            color: $primary-content;
            font-weight: 500;
            margin-bottom: 8px;
          }

          .color_pick_module {
            @include flex_set(flex-start, flex-start, 8px);
            li {
              width: 48px;
              height: 48px;
              background: gray;
              border-radius: 100%;
              border: 2px solid $primary-semilight-gray;

              &.active {
                border: 2px solid $primary-content;
              }
            }
          }
        }

        .size_input {
          margin-bottom: 16px;
          .size_input_title {
            color: $primary-content;
            font-weight: 500;
            margin-bottom: 8px;
          }

          .size_inputbox {
            height: 47px;
            border-radius: 10px;
            border: 1px solid $primary-light-gray;
            width: 100%;
            padding: 0 18px;
          }
        }

        .product_count {
          margin-bottom: 24px;
          .product_count_title {
            color: $primary-content;
            font-weight: 500;
            margin-bottom: 8px;
          }

          .product_count_module {
            @include flex_set(flex-start, flex-start, 12px);

            .count_button {
              width: 38px;
              height: 38px;
              line-height: 30px;
              border-radius: 10px;
              border: 1px solid $primary-light-gray;
              background: #fff;
              font-size: 18px;
            }

            .count_number {
              font-size: 16px;
              color: $primary-content;
              width: 48px;
              line-height: 38px;
              text-align: center;
            }
          }
        }

        .total_price {
          padding: 16px 0;
          @include flex_set(space-between, center);
          border-top: 1px solid $primary-semilight-gray;

          .total_price_title {
            font-size: 18px;
            color: $primary-content;
          }

          .total_price_number {
            color: $primary-red;
            font-size: 24px;
            font-weight: 700;
          }
        }

        .shop_buy_buttons {
          @include flex_set(flex-start, flex-start, 12px);
          margin-bottom: 12px;

          button {
            border-radius: 10px;
            padding: 16px 0;
            width: calc(50% - 12px);
            font-size: 16px;

            &:hover {
              background: $primary-light-gray;
            }
          }

          .cart_button {
            border: 1px solid $primary-semilight-gray;
            background: $primary-white;
            color: $primary-content;
          }

          .buy_button {
            background: $primary-content;
            color: $primary-white;
            border: none;

            &:hover {
              color: $primary-content;
            }
          }
        }

        .shop_share_buttons {
          @include flex_set(flex-start, flex-start, 12px);

          button {
            padding: 12px 0;
            border-radius: 10px;
            border: 1px solid $primary-semilight-gray;
            background: #fff;
            width: calc(50% - 12px);

            &:hover {
              background: $primary-light-gray;
            }

            p {
              @include flex_set(center, center, 8px);
              width: 100%;
            }
          }
        }
      }
    }
  }

  .product_tab_frame {
    padding-bottom: 48px;

    .product_tabs {
      .tab_list {
        @include flex_set(flex-start, flex-start, 32px);

        .tab {
          padding-bottom: 17px;
          color: $primary-content;
          cursor: pointer;

          &.active {
            border-bottom: 2px solid $primary-content;
            font-weight: 500;
          }
        }
      }
    }

    .tab_product_info {
      padding: 48px 0;

      .product_info_title {
        text-align: center;

        h2 {
          font-size: 24px;
          color: $primary-content;
          margin-bottom: 16px;
          font-weight: 700;
        }

        p {
          color: $primary-gray;
          line-height: 1.5;
        }
      }

      .product_info_photo {
        @include flex_set(center, center, 16px);
        margin: 32px 0;

        div {
          flex: 1;

          img {
            width: 100%;
          }
        }
      }

      .product_info_footer {
        padding: 32px;
        background: $primary-light-gray;

        .title {
          color: $primary-content;
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 16px;
        }

        .product_info_list {
          li {
            @include flex_set;
            margin-bottom: 8px;

            span {
              width: 128px;
              display: inline-block;
              color: $primary-gray;
            }

            p {
              color: $primary-content;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .tab_shipment_info {
      padding: 48px 0;
      h2 {
        font-size: 18px;
        color: $primary-content;
        font-weight: 600;
        margin-bottom: 16px;
      }

      ul {
        li {
          color: $primary-gray;
          margin-bottom: 8px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .tab_review_info {
      padding: 48px 0;

      .review_cell {
        padding: 16px 0;
        border-bottom: 1px solid $primary-semilight-gray;

        &:last-child {
          border-bottom: 0;
        }

        .review_cell_upper {
          @include flex_set(flex-start, flex-start, 8px);
          margin-bottom: 8px;

          .review_cell_stars {
            @include flex_set(flex-start, flex-start, 4px);
          }

          .review_cell_name {
            font-weight: 600;
          }

          .review_cell_date {
            color: $primary-gray;
          }
        }
      }

      .empty {
        @include empty_cell;
      }
    }

    .tab_question {
      padding: 48px 0;

      .empty {
        @include empty_cell;
      }
    }
  }
}

@media (max-width: 1024px) {
  .product {
    .product_upper_frame {
      display: block;

      .product_thumbnail_slider {
        width: 100%;
      }

      .product_shop_buy {
        width: 100%;
        margin-top: 32px;
      }
    }
  }
}

@media (max-width: 500px) {
  .product {
    .product_upper_frame {
      .product_shop_buy {
        .product_shop_buy_upper {
          .product_name_box {
            h1 {
              font-size: 22px;
            }

            p {
              font-size: 14px;
            }
          }

          .product_price {
            .sale_percent {
              .percent {
                font-size: 16px;
              }
            }
            .saled_price {
              font-size: 22px;
            }
          }

          .total_price {
            .total_price_title {
              font-size: 16px;
            }

            .total_price_number {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
